<p class="text">Login as</p>
<div class="teachLog">
        <a class="btn btn-primary btn-lg" href="/teacher/login">Teacher Login</a>
        <a class="btn btn-primary btn-lg" href="/student/login">Student Login</a>
    
</div>
