@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@*User is Logged in or not*@
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFullName").Value)
            @*@User.Identity.Name*@
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            @*<a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>
            <a class="dropdown-item" asp-action="MyEvents" asp-controller="Event">My Events</a>
            <a class="dropdown-item" asp-action="EventsInvitedTo" asp-controller="Event">Events invited to</a>
            <a class="dropdown-item" asp-action="CreateEvent" asp-controller="Event">Create Event</a>*@

            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
        </div>

    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Register</a>
    </li>
}