* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(68, 51, 135, 0.413);
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(132, 36, 132);
  color: rgba(156, 161, 161, 0.772);
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #90bc37;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article { 
  background-color: #35b94d48;
  margin: 0.5em;
  border: 1px solid #0c0606;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #080808e5;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: rgb(207, 15, 15);
}